@model Balloon.Models.Good

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редактирование товара «@Model.Name»</h2>

<form enctype="multipart/form-data" method="post">
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Товар</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Категория")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>


        <div class="editor-label">Изображение</div>
        <div class="editor-field">
            @if (Model.ImageData == null)
            {
                @:Нет изображения
            }
            else
            {
                <img width="254" height="254" src="@Url.Action("GetImage", "Good", new { Model.GoodId })" />
            }
            <div style="margin-top:10px;">
                <strong>Загрузить новое изображение:</strong><br />
                <input type="file" name="Image" />
            </div>
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Вернуться обратно к списку", "Index")
</div>
